<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    
    <title>Just Coffee</title>

    {{!-- MAIN STYLE --}}
    <link rel="stylesheet" href="css/styles.css">

    {{!-- MATERIALIZE ICONS --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{!-- MATERIALIZE CDN --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    {{!-- Animate.CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    {{!-- GOOGLE FONTS --}}
    <link href="https://fonts.googleapis.com/css?family=Sen|Open+Sans|Spartan|Sacramento|&display=swap" rel="stylesheet">
    
    {{!-- PRODUCT SANS --}}
    <link href="../../public/fonts/ProductSans-Thin.ttf">
    <link href="../../public/fontsfonts/ProductSans-Light.ttf">
    <link href="../../public/fontsfonts/ProductSans-Regular.ttf">
    <link href="../../public/fontsfonts/ProductSans-Medium.ttf">
    <link href="../../public/fontsfonts/ProductSans-Bold.ttf">

</head>

<body>

    <main class="container-fluid">

        {{!-- NAVBAR --}}
        <div class="navbar-fixed navClass">
        <nav>
        <div class="nav-wrapper navcolor col-12-sm z-depth-3">
            <div class="container-fluid left-logo col-12">

                {{!-- LOGIN --}}
                <a href="#" class="menu-link logo-side">
                    <img class="centerlogo" src="images/jc_logo_white.svg">
                </a>

                {{!-- MOBILE MENU ICON --}}
                <a href="#" data-target="mobile-side" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            <ul class="right menu-items hide-on-med-and-down">

                </a></li>
                <li><a href="#" class="menu-link beans">
                    OUR BEANS
                </a></li>
                <li><a href="#" class="menu-link mission">
                    OUR MISSION</a>
                </li>
                <li><a href="#" class="menu-link contact">
                    CONTACT US
                </a></li>
                <li><a href="#modal-account" class="modal-trigger menu-link account">
                    <i class="material-icons cart">account_box</i>
                </a></li>
                <li><a href="#modal-cart" class="modal-trigger menu-link cart">
                    <i class="material-icons cart">shopping_cart</i>
                </a></li>

            </ul>
        </div>
        </nav>
        </div>

            {{!-- MOBILE MENU --}}
            <ul class="sidenav" id="mobile-side"><br>
            <i class="material-icons">menu</i></a>

                </a></li>
                <li><a href="#" class="menu-link-side beans">
                    OUR BEANS
                </a></li>
                <li><a href="#" class="menu-link-side mission">
                    OUR MISSION</a>
                </li>
                <li><a href="#" class="menu-link-side contact">
                    CONTACT US
                </a></li>
                <li><a href="#modal-account" class="modal-trigger menu-link-side account">
                    ACCOUNT
                </a></li>
                <li><a href="#modal-cart" class="modal-trigger menu-link-side cart">
                    CART
                </a></li>

            </ul>   
        </div>
        </nav>
        </div>
        
        {{!-- BODY --}}

        {{{body}}}
        
    </main>

    <div id="modal-account" class="modal">
        <div class="isamember modal-content">
            <h3><b>CUSTOMER LOG IN</b></h3>
            <div class="col s12 formclass container row loginsignup z-depth-3">
                <form class="row col s12 login-form">
                    <div class="row input-field col s12">
                        <input id="login-username" type="text" class="validate">
                        <label for="login-username">Username</label>
                    </div>
                    <br>
                    <div class="row input-field col s12">
                        <input id="login-password" type="text" class="validate">
                        <label for="login-password">Password</label>
                    </div>
                    <br>
                    <a href="/members" class="submit waves-effect waves-light btn" id="login-account">
                        LOG IN
                    </a>
                </form>
            </div>
            <br>
            <div class="notamember">
                <b>Not a member yet?</b>
            </div>
            <div class="row submitrow">
                <a href="/signup" class="submit waves-effect waves-light btn" id="signup-button">
                    CREATE ACCOUNT
                </a>
            </div>
        </div>
    </div>

    <div id="modal-cart" class="modal">
        <div class="modal-content">
            <h3>Your Cart</h3>
            <hr>
            <br>
            <div class="kaffe"></div>
            <br>
            <div class="row submitrow">
                <button class="submit waves-effect waves-light btn" id="cart-checkout">
                    CHECKOUT
                </button>
            </div>
        </div>
    </div>

    <div class="sFooter">
        <br><br><br><br>
    </div>


</body>

</html>