<div class="container-fluid img1">
    <img class="img-main" src="images/coffee1.png">
</div>

<br><br><br><br><br>

<div class="learn-more center">
    <a href="#how-to"><u>Learn more.</u></a>
</div>

<br><br><br>

<div id="how-to"></div>

<br><br><br><br><br>

<div
    data-aos="flip-up";
    data-aos-delay="250";
    data-aos-duration="1000";
    class="how-to">

    <b>How It Works</b>
</div>

<br>

<div class="container row col s12">
    
    <div
        data-aos="fade-up-right";
        data-aos-delay="250";
        data-aos-duration="1000";
        class="col s4">

        <b>One.</b>
        <br>
        <div class="column-words">
            Antilles jade organa dantooine kenobi twi'lek owen mandalore. Leia organa leia alderaan wedge moff gonk.
        </div>
    </div>
    
    <br>
    
    <div
        data-aos="fade-up-right";
        data-aos-delay="250";
        data-aos-duration="1000";
        class="col s4">

        <b>Two.</b>
        <br>
        <div class="column-words">
            Wicket organa ben cade calamari tatooine ackbar. C-3p0 darth dagobah baba ben cade obi-wan kit.
        </div>
    </div>
    
    <br>
    
    <div
        data-aos="fade-up-right";
        data-aos-delay="250";
        data-aos-duration="1000";
        class="col s4">

        <b>Three.</b>
        <br>
        <div class="column-words">
            Sidious chewbacca skywalker organa lars. Mandalorians leia mothma grievous organa droid solo.
        </div>
    </div>
        

</div>

<br><br><br><br><br>

<div
    data-aos="zoom-in-up";
    data-aos-delay="250";
    data-aos-duration="2000";
    class="subscribe">
    <a href="/signup" class="btn waves-effect waves-light hit-subscribe">
        Subscribe
    </a>
</div>

<br><br><br><br><br>

<div id="mission"></div>
<br><br>

<div>

    <div class="container-fluid blueish row">

        <div class="words col l12 m7 s12">

            <h3
                data-aos="flip-left";
                data-aos-delay="200";
                data-aos-duration="1000";
                class="mission-statement">
                <b>Look all this stuff tho.</b>
            </h3>

            <div
                data-aos="flip-right";
                data-aos-delay="500";
                data-aos-duration="1000";
                class="lorem-words">
                Owen darth antilles binks grievous solo darth. Jango hutt hutt thrawn. Secura binks
                <br>mara kessel dooku hutt droid calamari. Antilles darth ben anakin tatooine hutt boba
                <br>maul mon. Skywalker organa coruscant moff jinn.
            </div>

            <br>

                <div
                    data-aos="fade-down";
                    data-aos-delay="700";
                    data-aos-duration="1000";
                    class="dont-words">
                    But don't just take our word for it...
                </div>

            <br><br>

            <div
                data-aos="zoom-in-up";
                data-aos-delay="1000";
                data-aos-duration="1500";
                class="container quote">

                "Coona tee-tocky malia. Bonapa keesa. Tolpa da bunky na booty cha naga o wanna meete chobodda. Bargon wan che copa. Yoka to Bantha poodoo. endee-ya jah-jee bargon. Achuta kuna payuska Granee Ad-mee-rall. Du bargon Oga es du bargon macroon tee-tocky.
                Hi chuba du naga? Uba hasa me yocola. Je spee, uba hasa, me yocola. Mendee-ya jah-jee bargon. Achuta kuna payuska Granee Ad-mee-rall. Kuba, kayaba dee anko! "

                    <br><br>

                    <div class="rightalign">
                    - Guy Realperson
                    </div>

                </div>

                <br>

            </div>

            <br><br>

            <div></div>

            <div class="col l12 m5 s12">
              
                <br><br><br><br><br><br>

                <div
                    data-aos="zoom-in-right";
                    data-aos-delay="500";
                    data-aos-duration="1000";
                    class="droids">
                    These are not the droids you are looking for.
                </div>

                <a
                    href="#coffeet"
                    data-aos="fade-up";
                    data-aos-delay="250";
                    data-aos-duration="2000";>
                    <div class="learn-more more">
                    <h3><u>Read more.</u></h3>
                    </div>
                </a>

                <br><br><br>
                <div class="white" id="coffeet";>
                    
                    <br><br><br>

                    <img
                        class="coffeet";
                        data-aos="flip-right";
                        data-aos-delay="500";
                        data-aos-duration="1000";
                        data-aos-anchor-placement="center";
                        src="images/coffeet.jpg">

                    <br><br>

                    <div
                        data-aos="zoom-in-left";
                        data-aos-duration="2000";
                        class="below-coffeet">
                        I find your lack of faith disturbing.
                    </div>
                <br><br><br>
                </div>

                <br><br><br><br><br><br>

                <div
                    data-aos="flip-left";
                    data-aos-delay="250";
                    data-aos-duration="3000";
                    class="col s12 huttese">

                    U bah ko ratta kah
                    ba wipa ky is ka
                    chone kawa wookiee.

                    <br>

                </div>
                <br>
            </div>

        

            <div
                data-aos="flip-right";
                data-aos-duration="1500";
                class="small-text container float-left col l12 m7 s12">
            <br><br><br>

              Dagobah droid ewok jinn wampa. Luke calrissian dagobah yavin. Dantooine mon sith
              jade antilles naboo. Skywalker dooku yavin organa. Windu mandalorians zabrak fett
              tusken raider darth solo. Mara padmé organa antilles jawa jango fett luuke hutt.

            <br><br><br><br>

            </div>

    </div>

    <br><br><br><br>

</div>


<div
    data-aos="flip-left";
    data-aos-duration="1500";
    class="container row col s12"
    id="beans">

<br><br><br>

    <h3>Featured.</h3>

    <br><br>

    <div
    class="col l4 s12">

        <b>Light.</b>
        <br>        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque quae libero obcaecati dolorem et consequuntur. Fugiat hic iure earum, aliquid cum iste explicabo ducimus vero libero velit, et voluptate?
        <br><br>
    </div>

    <br>

    <div class="col l4 s12">

        <b>Medium.</b>
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque quae libero obcaecati dolorem et consequuntur. Fugiat hic iure earum, aliquid cum iste explicabo ducimus vero libero velit, et voluptate?
        <br><br>
    </div>

      <br>
      
    <div class="col l4 s12">

        <b>Dark.</b>
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque quae libero obcaecati dolorem et consequuntur. Fugiat hic iure earum, aliquid cum iste explicabo ducimus vero libero velit, et voluptate?
        <br><br>
    <br><br><br>
    
    </div>

</div>

<br><br><br>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}