<div class="container-fluid img1">
    <img class="img-main" src="images/coffee1.png">
</div>

<br><br><br><br><br>

<div class="learn-more center">
    <a href="#how-to"><u>Learn more.</u></a>
</div>

<br><br><br>

<div id="how-to"></div>

<br><br><br><br><br>

<div
    data-aos="flip-up";
    data-aos-delay="250";
    data-aos-duration="1250";
    class="how-to">

    <b>How It Works</b>
</div>

<br>

<div class="container row col s12">
    
    <div
        data-aos="fade-up-right";
        data-aos-delay="250";
        data-aos-duration="1500";
        class="col s4">

        <b>One.</b>
        <br>
        <div class="column-words">
             What do you wish to hear? That I once believed in the code of the Jedi? That I felt the call of the Sith, that perhaps, once, I held the galaxy by its throat?
        </div>
    </div>
     
    <br>
    
    <div
        data-aos="fade-up-right";
        data-aos-delay="350";
        data-aos-duration="1750";
        class="col s4">

        <b>Two.</b>
        <br>
        <div class="column-words">
            That for every good deed I did, I brought equal harm upon the galaxy? That perhaps what the greatest of the Sith Lords knew of evil, they learned from me?
        </div>
    </div>
    
    <br>
    
    <div
        data-aos="fade-up-right";
        data-aos-delay="450";
        data-aos-duration="2000";
        class="col s4">

        <b>Three.</b>
        <br>
        <div class="column-words">
            What would it matter now? There is only so much comfort in knowing such things, and it is not who I am now. May the Force be with you always.
        </div>
    </div>
        

</div>

<br><br><br><br><br>

<div
    data-aos="zoom-in-down";
    data-aos-delay="250";
    data-aos-duration="2000";
    class="subscribe">
    <a href="/signup" class="btn waves-effect waves-light hit-subscribe">
        Subscribe
    </a>
</div>

<br><br><br>

<a href="#mission">
    <div
        data-aos="fade-up";
        data-aos-delay="250";
        data-aos-duration="2500";
        class="learn-more more">
    <b><u>Our mission.</u></b>
    </div>
</a>

<br>

<div id="mission"></div>
<br>

<div>

    <div class="container-fluid blueish row">

        <div class="words col l12 m7 s12">

            <h3
                data-aos="flip-left";
                data-aos-delay="500";
                data-aos-duration="1000";
                class="mission-statement">
                <b>Look all this stuff tho.</b>
            </h3>

            <div
                data-aos="flip-right";
                data-aos-delay="700";
                data-aos-duration="1500";
                class="lorem-words float-right">
                General Kenobi: Years ago, you served my father in the Clone Wars; now he begs you to help him in his struggle against the Empire. 
                <br>I regret that I am unable to present my father’s request to you in person; but my ship has fallen under attack and I’m afraid my mission
                <br>to bring you to Alderaan has failed. I’ve placed information vital to the survival of the rebellion into the memory systems of this R2 unit.
                <br>My father will know how to retrieve it. You must see this droid safely delivered to him on Alderaan. This is our most desperate hour.
                <br>Help me, Obi-Wan Kenobi; you’re my only hope.
            </div>

            <br>

            <div
                data-aos="fade-down";
                data-aos-delay="800";
                data-aos-duration="2000";
                class="dont-words">
                But don't just take our word for it...
            </div>

            <br><br>

            <div
                data-aos="zoom-in-up";
                data-aos-delay="1000";
                data-aos-duration="2000";
                class="container quote">

                "Coona tee-tocky malia. Bonapa keesa. Tolpa da bunky na booty cha naga o wanna meete chobodda. Bargon wan che copa. Yoka to Bantha poodoo. endee-ya jah-jee bargon. Achuta kuna payuska Granee Ad-mee-rall. Du bargon Oga es du bargon macroon tee-tocky.
                Hi chuba du naga? Uba hasa me yocola. Je spee, uba hasa, me yocola. Mendee-ya jah-jee bargon. Achuta kuna payuska Granee Ad-mee-rall. Kuba, kayaba dee anko! "

                    <br><br>

                    <div class="rightalign">
                    - Guy Realperson
                    </div>

                </div>

                <br>

            </div>

            <br><br>

            <div></div>

            <div class="col l12 m5 s12">
              
                <br><br><br><br><br><br>

                <div
                    data-aos="zoom-in-right";
                    data-aos-delay="500";
                    data-aos-duration="1000";
                    class="droids">
                    These are not the droids you are looking for.
                </div>

                <a href="#coffeet">
                    <div
                        data-aos="fade-up";
                        data-aos-delay="250";
                        data-aos-duration="2000";
                        class="learn-more more">
                    <h3><u>
                        Read more.
                    </u></h3>
                    </div>
                </a>

                <br><br><br>
                <div class="white" id="coffeet";>
                    
                    <br><br><br>

                    <img
                        class="coffeet";
                        data-aos="flip-right";
                        data-aos-delay="500";
                        data-aos-duration="1000";
                        data-aos-anchor-placement="center";
                        src="images/coffeet.jpg">

                    <br><br>

                    <div
                        data-aos="zoom-in-right";
                        data-aos-duration="2000";
                        class="below-coffeet">
                        I find your lack of faith <a href="#huttese">disturbing.</a>
                    </div>
                <br><br><br>
                </div>

                <br><br><br>
                <div id="huttese"></div>
                <br><br><br>

                <div
                    data-aos="flip-left";
                    data-aos-delay="250";
                    data-aos-duration="3000";
                    class="col s12 huttese">

                    U bah ko ratta kah
                    ba wipa ky is ka
                    chone kawa wookiee.

                    <br>

                </div>
                <br>
            </div>

        

            <div
                data-aos="flip-right";
                data-aos-duration="2500";
                class="small-text container float-left col l12 m7 s12">
            <br><br><br>

              Size matters not. Look at me. Judge me by my size do you? And well you should not. For my ally is the force, and a powerful ally it is. Life creates it. Makes it grow. It's energy surrounds us, and binds us. Luminous beings are we, not this crude matter. You must feel the force around you. Here. Between you, and me. The tree. The rock. Everywhere. Even between the land and the ship.

            <br><br><br><br>

            </div>

    </div>

    <br><br><br><br>

</div>


<br>

<div
    data-aos="flip-left";
    data-aos-duration="3000";
    class="container row col s12"
    id="beans">

<br><br>

    <h3><div
        data-aos="flip-up";
        data-aos-delay="500";
        data-aos-duration="1000";>
        Featured.
        </div></h3>

    <br><br>

    <div
    class="col l4 s12">

        <b>Light.</b>
        <br>        
        Ready, are you? What know you of ready? For eight hundred years have I trained Jedi. My own counsel will I keep on who is to be trained!
        <br><br>
        <img src="images/light1.jpg" class="center block">
        <br>
        <div class="smaller-text">
            <b>Amaya Roasting Co. Jose Bolaños</b>
            <br>Roasted to highlight nuance and brings balance to the sweetness, acidity, and depth of flavors.
            Notes of Plum, Chocolate Ganache, Churro.
            Beans sourced from Nariño, Colombia.
        </div>
    </div>

    <br>

    <div class="col l4 s12">

        <b>Medium.</b>
        <br>
        A Jedi must have the deepest commitment, the most serious mind. This one a long time have I watched. Never his mind on where he was.
        <br><br>
        <img src="images/medium1.jpg" class="center block">
        <br>
        <div class="smaller-text">
            <b>Herkimer Coffee Drip Blend</b>
            <br>A clean and well rounded coffee intended as an easy daily drinker.
            Notes of of Orange and Dried Cherry are supported by layers of Dark Brown Sugar, Dried Fig, and Milk Chocolate.
            Sourced from direct relationship farms in Central and South America.
        </div>
    </div>

      <br>
      
    <div class="col l4 s12">

        <b>Dark.</b>
        <br>
        Hmm? What he was doing. Hmph. Adventure. Heh! Excitement. Heh! A Jedi craves not these things. You are reckless! No. Try not. Do... or do not. There is no try.
        <br><br>
        <img src="images/bold1.jpg" class="center block">
        <br>
        <div class="smaller-text">
            <b>Koffee Kult Dark Roast Coffee Beans</b>
            <br>Voted #1 for Strong Bold flavor but smooth. Not bitter with low acidity. Best choice of quality gourmet coffees.
            Notes of Cocoa, Cinnamon, Smooth, Heavy Body, Bright with a long finish.
            100% arabica specialty coffee coffee from Colombia, Guatemala, and Sumatra.
        </div>
    <br><br><br>
    
    </div>

</div>

<br>

<div class="center">

    <a href="#top"><u>Back to top.</u></a>
    
</div>

<br><br>



{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}