<h3 class="customer-login"><b>Login</b></h3>
<div class="col s12 formclass container row loginsignup z-depth-3">
    <form class="row col s12 login-form">
        <div class="row input-field col s12">
            <input id="login-username" type="text" class="validate">
            <label for="login-username">Username</label>
        </div>
        <br>
        <div class="row input-field col s12">
            <input id="login-password" type="text" class="validate">
            <label for="login-password">Password</label>
        </div>
        <br>
        <a href="/members" class="submit waves-effect waves-light btn" id="login-account">
            LOG IN
        </a>
    </form>
</div>
<br>
<div class="notamember">
    <b>Not a member yet?</b>
</div>
<div class="row submitrow">
    <a href="/signup" class="submit hit-subscribe waves-effect waves-light btn" id="signup-button">
        <b>CREATE ACCOUNT</b>
    </a>
</div>