<body>

<main class="container-fluid">

<div class="s-page">
    <h2 class="choose"><b>&emsp;Choose your subscription.</b></h2>
</div>

<br>

<div class="container row col s12">
    
    <div class="col s4">
        <b>Featured.</b>
        <br>
        <div class="column-words">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque quae libero obcaecati dolorem et consequuntur. Fugiat hic iure earum, aliquid cum iste explicabo ducimus vero libero velit, et voluptate?
        </div>

        <br><br>


    </div>
    
    <div class="col s4">
        <b>Curated.</b>
        <br>
        <div class="column-words">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque quae libero obcaecati dolorem et consequuntur. Fugiat hic iure earum, aliquid cum iste explicabo ducimus vero libero velit, et voluptate?
        </div>

        <br><br>


    </div>
    
    <div class="col s4">
        <b>The Works.</b>
        <br>
        <div class="column-words">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque quae libero obcaecati dolorem et consequuntur. Fugiat hic iure earum, aliquid cum iste explicabo ducimus vero libero velit, et voluptate?
        </div>

        <br><br>


    </div>
        

    <form class="container">

        <br><br>


            <div class="row">
            <br>
            <h3><b>Subsription.</b></h3>
            <br>

            <b>Subscription Type</b>
            <br>

            <div class="input-field">
                <select>
                    <option value="" disabled selected>Type</option>
                    <option value="sub-1">Featured</option>
                    <option value="sub-1">Curated</option>
                    <option value="sub-3">The Works</option>
                </select>
            </div>

            <br><br>

            <b>Coffee Count</b>
            <br>

            <div class="input-field">
                <select>
                    <option value="" disabled selected>Number of Bags</option>
                    <option value="count-1">One</option>
                    <option value="count-2">Two</option>
                    <option value="count-3">Three</option>
                    <option value="count-4">Four</option>
                    <option value="count-5">Five</option>
                </select>
            </div>

            <br><br>


            <b>Frequency</b>
            <br>

            <div class="input-field">
                <select>
                    <option value="" disabled selected>Times per month</option>
                    <option value="freq-1">Once a month</option>
                    <option value="freq-2">Twice a month</option>
                </select>
            </div>

            <br><br>

            <div class="terms center">

            I agree to <a class="modal-trigger" href="#modal1">Terms and Conditions</a>.
            </div>
            
        <br>
        <div class="switch center">
            <label>
            No
            <input type="checkbox">
            <span class="lever"></span>
            Yes
            </label>
        </div>
    </div>

    <br><br><br>

        <!-- SUBMIT -->

        <div class="row center submitrow">
            <button class="btn" id="submit-subscription">
                SUBMIT
            </button>
        </div>

    </form>

</div>

<br><br><br><br>