/* IMPORT "PRODUCT SANS" */
@font-face {
    font-family: "Product Sans";
    src: url(fonts/ProductSans-Regular.ttf);
}

@font-face {
    font-family: "Product Sans";
    src: url(fonts/ProductSans-Thin.ttf);
    font-weight: Thin;
}

@font-face {
    font-family: "Product Sans";
    src: url(fonts/ProductSans-Medium.ttf);
    font-weight: Medium;
}

@font-face {
    font-family: "Product Sans";
    src: url(fonts/ProductSans-Bold.ttf);
    font-weight: Bold;
}


/* DOCUMENT STYLES */

html,
body {
    margin: 0 auto;
    width: 100%;
    color: #2f333a !important;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    scroll-behavior: smooth;
    cursor: default;
    font-family: "Product Sans", "Poppins", "Open Sans";
    font-size: 20px;
    /* text-align: center; */
}

a {
    color: #97a6c0 !important;
}

a:hover {
    cursor: default;
}

.body {
    text-align: center;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

/* MENU STYLES */

.menu-link {
    font-size: 15px !important;
    font-weight: bold;
}

.menu-link:hover {
    /* text-decoration: underline; */
    text-shadow: rgb(36, 36, 36) 3px 2px;
    background-color: rgb(80, 80, 80);
}

.menu-link-side:hover {
    /* text-decoration: underline; */
    text-shadow: rgb(219, 219, 219) 1px 1px;
    background-color: rgb(112, 112, 112);
}

.navcolor {
    background-color: #282b30;
    color: rgb(22, 22, 22) !important;
}

.navcolor:hover {
    background-color: #353a41 !important;
}

.account {
    padding-left: 15px;
}

.cart {
    padding-left: 10px;
    margin-right: 10px;
}

.logo-side {
    margin-left: 30px;
    margin: 30px !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.logo-side:hover {
    font-size: 20px !important;
}

.centerlogo {
    width: 120px;
    margin-top: 10px;
}

.navClass {
    color: black !important;
}

/* BODY STYLES */

.header {
    position: absolute;
    left: 0;
    top: 0;
}

.header_img {
    width: 100%;
    height: 600px;
    background-image: url('images/jc_img1.jpg');
    background-size: cover;
  }

.logo {
    display: inline-block;
    height: 50px;
    margin-left: 10px;
}

.logo>img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#coffee1 {
    width: 2000px;
    object-fit: contain;
    position: absolute;
    opacity: 0.1;
    left: 0;
    top: 0;
    z-index: -1;
}

.img-main {
    width: 100%;
    object-fit: cover;
    size: cover;
    margin: 0 auto;
}

.hit-subscribe {
    background-color: #2e2e2e00 !important;
    border: 2px solid #2e2e2e !important;
    color: #2e2e2e !important;
    font-size: 28px !important;
    padding: 5px !important;
    height: 50px !important;
    width: 200px !important;
}

.words {
    padding: 50px !important;
    font-size: 18px;
}

.s1 {
    background-color: rgb(24, 24, 24);
}

.s2 {
    background-color: rgb(238, 238, 238);
}

.sFooter {
    margin-top: 30px !important;
    font-size: 12px !important;
    text-align: center !important;
}

.formclass {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid rgb(122, 122, 122);
}

.subscribe {
    text-align: center;
    font-weight: bold;
}

.learn-more {
    text-align: center !important;
}

.how-to {
    text-align: center;
    font-size: 28px;
}

.coffeet {
    /* min-height: 1000px; */
    width: 25%;
    width: 25%;
    /* margin-left: 100px; */
    border: 25px solid rgb(250, 255, 203);
    margin: 0 auto !important;
    margin-top: 60px !important;
    display: block !important;
    text-align: center !important;
}

#coffeet {
    margin-bottom: 100px !important;
}

.white {
    background-color: white !important;
}

.below-coffeet {
    text-align: center;
    margin-bottom: 100px !important;
}

.mission-statement {
    color: #343941 !important;
}

.quote {
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.514);
    color: #8393ac;
    padding: 50px;
    padding-bottom: 25px;
    text-align: justify;
    border: 25px solid rgba(203, 245, 255, 0.767);
    font-size: 16px;
    width: 600px !important;
}

.droids {
    text-align: right;
    margin-right: 100px;
    margin-bottom: 300px;
}

.more {
    margin-bottom: 200px;
}

.small-text {
    font-size: 18px;
    font-weight: 100;
    margin-left: 100px !important;
    text-align: left !important;
}

.signup-form{
    margin: 30px !important;
}

.agreements {
    font-size: 12px;
}

.submitrow {
    text-align: center;
}

.input-field {
    color: rgb(27, 27, 27) !important;
    background-color: white !important;
}

.submit {
    background-color: #414141 !important;
}

.hit-subscribe {
    background-color: #ffffff !important;
    border: 2px solid #2e2e2e !important;
    color: #2e2e2e !important;
    font-size: 16px !important;
    padding: 1px !important;
    height: 40px !important;
    width: 120px !important;
}

.customer-login {
    color: #3b3e42;
    margin-bottom: 50px !important;
}

.customer-cart {
    color: #3b3e42;
}

#login-account {
    margin-top: 20px;
}

#modal-account,
#modal-cart {
    background-color: rgb(255, 254, 247);
    padding: 15px;
    border: 3px solid gray;
    border-radius: 20px;
    text-align: center;
    overflow: scroll;
}

.gray {
    background-color: #282b30;
    padding: 15px;
    color: white !important;
}

.blueish {
    background-color: #b2d2d8 !important;
    color: #2f2f2f91 !important;
    padding-bottom: 50px;
}

.yellowbkg {
    background-color: rgb(254, 255, 215);
    padding: 15px;
}

.notamember, .isamember {
    margin-bottom: 20px;
}

.isamember {
    margin-top: 20px;
}

.sm-cart {
    font-size: 14px;
}

.huttese {
    font-size: 200px;
    text-align: right !important;
}

.choose {
	padding: 20px !important;
    width: 960px;
    overflow: hidden;
}

.s-page {
    padding-left: 20px !important;
}

#submit-subscription {
    background-color: #2e2e2e00 !important;
    border: 2px solid #2e2e2e !important;
    color: #2e2e2e !important;
    font-size: 28px !important;
    padding: 5px !important;
    height: 50px !important;
    width: 200px !important;
}


.rightalign {
    text-align: right;
    margin: 20px;
}


.lorem-words {
    text-align: right !important;
}

.dont-words {
    text-align: center !important;
}



/* iPad Styles */

@media only screen and (max-width: 768px) {
    
    .column-words {
        font-size: 12px;
        margin-bottom: 100px !important;
    }

    .blueish {
        padding: 5px !important;
        text-align: justify;
        margin: 1px !important;
    }

    .words {
        padding: 10px !important;
        font-size: 16px;
    }

    .coffeet {
        /* height: 200px; */
        width: 100%;
        height: 100%;
        border: 20px solid rgb(250, 255, 203);
        margin: 0 auto;
        text-align: center !important;
    }
    
    .quote {
        font-style: italic;
        background-color: rgba(255, 255, 255, 0.315);
        color: #8393ac;
        padding: 25px;
        padding-bottom: 10px;
        text-align: justify;
        border: 10px solid rgba(203, 245, 255, 0.37);
        font-size: 14px;
    }

    .small-text {
        margin: 0 auto !important;
        font-size: 18px;
        padding: -50px;
    }

    .huttese {
        text-align: left;
    }
}

/* Mobile Styles */

@media only screen and (max-width: 400px) {

    html,
    body {
        padding: -5px;
    }

    .column-words {
        font-size: 12px;
    }

    .words {
        padding: 10px !important;
        font-size: 16px;
    }

    .coffeet {
        /* height: 200px; */
        border: 10px solid rgb(250, 255, 203);
        margin-left: 10px;
    }
    
    .quote {
        font-style: italic;
        color: #8393ac;
        padding: 25px;
        padding-bottom: 10px;
        text-align: justify;
        border: 10px solid rgba(203, 245, 255, 0.37);
        font-size: 14px;
        width: 300px !important;
    }

    .small-text {
        padding: -5px !important;
        font-size: 12px;
        text-align: justify !important;
        padding: 18px !important;
    }

    .choose {
        text-align: right;
    }

    .huttese {
        margin-left: 15px;
        margin-top: 10px;
        text-align: justify !important;
        font-size: 50px;
    }

    .more {
        margin-bottom: 1200px !important;
    }

    .droids {
        margin: 0 auto !important;
        margin-bottom: 300px !important;
    }

}