/* IMPORT "PRODUCT SANS" */
@font-face {
    font-family: "Product Sans";
    src: url(fonts/ProductSans-Regular.ttf);
}

@font-face {
    font-family: "Product Sans";
    src: url(fonts/ProductSans-Thin.ttf);
    font-weight: Thin;
}

@font-face {
    font-family: "Product Sans";
    src: url(fonts/ProductSans-Medium.ttf);
    font-weight: Medium;
}

@font-face {
    font-family: "Product Sans";
    src: url(fonts/ProductSans-Bold.ttf);
    font-weight: Bold;
}


/* DOCUMENT STYLES */

html,
body {
    margin: 0 auto;
    color: #2f333a !important;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    scroll-behavior: smooth;
    cursor: default;
    font-family: "Product Sans", "Poppins", "Open Sans";
    font-size: 20px;
    /* text-align: center; */
}

a:hover {
    cursor: default;
}

.body {
    text-align: center;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

/* MENU STYLES */

.menu-link {
    font-size: 15px !important;
    font-weight: bold;
}

.menu-link:hover {
    /* text-decoration: underline; */
    text-shadow: rgb(36, 36, 36) 3px 2px;
    background-color: rgb(80, 80, 80);
}

.menu-link-side:hover {
    /* text-decoration: underline; */
    text-shadow: rgb(219, 219, 219) 1px 1px;
    background-color: rgb(112, 112, 112);
}

.navcolor {
    background-color: #282b30;
    color: rgb(22, 22, 22) !important;
}

.navcolor:hover {
    background-color: #353a41 !important;
}

.account {
    padding-left: 15px;
}

.cart {
    padding-left: 10px;
    margin-right: 10px;
}

.logo-side {
    margin-left: 30px;
    margin: 30px !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.logo-side:hover {
    font-size: 20px !important;
}

.centerlogo {
    width: 150px;
    margin-top: 10px;
}

.navClass {
    color: black !important;
}

/* BODY STYLES */

.header {
    position: absolute;
    left: 0;
    top: 0;
}

.header_img {
    width: 100%;
    height: 600px;
    background-image: url('images/jc_img1.jpg');
    background-size: cover;
  }

.logo {
    text-align: center;
    width: 1000px;
    display: block;
    margin: 0 auto;
}

#coffee1 {
    width: 2000px;
    object-fit: contain;
    position: absolute;
    opacity: 0.1;
    left: 0;
    top: 0;
    z-index: -1;
}

.img-main {
    width: 100%;
    object-fit: cover;
    size: cover;
    margin: 0 auto;
}

.hit-subscribe {
    background-color: #2e2e2e00 !important;
    border: 2px solid #2e2e2e !important;
    color: #2e2e2e !important;
    font-size: 28px !important;
    padding: 5px !important;
    height: 50px !important;
    width: 200px !important;
}

.s1 {
    background-color: rgb(24, 24, 24);
}

.s2 {
    background-color: rgb(238, 238, 238);
}

.sFooter {
    background-color: #2e2e2e;
}

.formclass {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid rgb(122, 122, 122);
}

.subscribe {
    text-align: center;
    font-weight: bold;
}

.how-to {
    text-align: center;
    font-size: 28px;
}

.agreements {
    font-size: 12px;
}

.submitrow {
    text-align: center;
}

.input-field {
    color: rgb(27, 27, 27) !important;
    background-color: white !important;
}

.submit {
    background-color: #414141 !important;
}

.hit-subscribe {
    background-color: #2e2e2e00 !important;
    border: 2px solid #2e2e2e !important;
    color: #2e2e2e !important;
    font-size: 16px !important;
    padding: 1px !important;
    height: 40px !important;
    width: 120px !important;
}

#modal-account,
#modal-cart {
    background-color: rgb(245, 242, 238);
    padding: 15px;
    border: 3px solid gray;
    border-radius: 20px;
    text-align: center;
    overflow: scroll;
}

.notamember, .isamember {
    margin-bottom: 20px;
}

.isamember {
    margin-top: 20px;
}


/* MOBILE ONLY STYLES */

@media only screen and (max-width: 767px) {
    
}